<form (ngSubmit)="submitForm()" #employeeForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name" required>
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" id="age" name="age" [(ngModel)]="employee.age" required>
  </div>
  <div class="form-group">
    <label for="level">Level:</label>
    <input type="text" class="form-control" id="level" name="level" [(ngModel)]="employee.level" required>
  </div>
  <div class="form-group">
    <label for="experience">Experience:</label>
    <input type="number" class="form-control" id="experience" name="experience" [(ngModel)]="employee.experience" required>
  </div>
  <div class="form-group">
    <label for="experience">Type:</label>
    <input type="text" class="form-control" id="type" name="type" [(ngModel)]="employee.type" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div >
  <h2>Дані, введені у форму:</h2>
  <p><strong>Ім'я:</strong> {{ employee.name }}</p>
  <p><strong>Вік:</strong> {{ employee.age }}</p>
  <p><strong>Рівень:</strong> {{ employee.level }}</p>
  <p><strong>Досвід:</strong> {{ employee.experience }}</p>
  <p><strong>Тип:</strong> {{ employee.type }}</p>
  <p><strong>Зарплатня-</strong> {{ sal }}</p>
</div>

